@page
@model AccessDeniedModel

@{ ViewData["Title"] = "Access denied"; }

<a asp-area="Member" asp-controller="Member" asp-action="UpgradeToPremium"> 
   <img src="~/images/403-YouShallNotPass.jpg" alt="YOU SHALL NOT PASS! Access Denied!" style="width: 100%" />
</a>

<style>
    body{
        background-color: black;
    }
</style>