@{ ViewBag.Title = "Member Home Page"; }

<div class="row">
    <div class="col-sm-12 offset-lg-1 col-lg-10 offset-xl-2 col-xl-8">
        <h1 class="text-center" style="color:goldenrod">Welcome!</h1>
        <h3 class="text-center" style="color:goldenrod">Enjoy the best logistics platform in Europe!</h3>
        <div class="col-sm-12 offset-lg-1 col-lg-10 offset-xl-1 col-xl-10"
             style="margin-top: 80px">
            <h4 class="text-justify mt-5" style="color: pink"><i>As a regular member your access is limited only to</i></h4>
        </div>
        <div class="col-sm-12 offset-lg-1 col-lg-10 offset-xl-2 col-xl-8">
            <h4 class="text-justify mt-0" style="color: pink">
                <a asp-area="" asp-controller="Home" asp-action="News">Home</a>
                <i></i>and
                <a asp-area="" asp-controller="Documentation" asp-action="All">Documentation</a>
                <i></i>features.
            </h4>
        </div>
    </div>
    <div class="col-sm-12 offset-lg-1 col-lg-10 offset-xl-2 col-xl-8" style="margin-top: 40px">
        <h4 class="text-center mt-5" style="color: pink">
            <i>If you want to explore the full potential of</i> <text style="color: goldenrod">'SteadyLogistics'</text>
            <i>upgrade your account to Premium!</i>
        </h4>
        <div class="card-body">
            <a asp-area="Member" asp-controller="Member" asp-action="UpgradeToPremium">
                <input type="button" class="btn" style="margin-left: 230px; margin-right: 230px;
                       background-color: lightpink; color: goldenrod; font-weight: bold; width: 200px"
                       value="Upgrade To Premium" />
            </a>
        </div>
    </div>
</div>