@{
    ViewData["Title"] = "Contacts";
}
<style>
    .oleo-font {
        font-family: 'Oleo Script', cursive;
        color: #fcc500;
        font-size: 45px;
    }
</style>

<div class="oleo-font"> Contacts </div>

<div class="col-md-7">
    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11742.139321069868!2d23.3747618!3d42.6288205!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa99a6079f95e99ad!2sBusiness%20Park%20Sofia!5e0!3m2!1sen!2sbg!4v1628544490017!5m2!1sen!2sbg"
            width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>

<div>
    <h3>Our Social Sites</h3>
    <ul class="list-inline banner-social-buttons">
        <li><a href="#" class="btn btn-default btn-lg"><i class="fa fa-twitter"> <span class="network-name">Twitter</span></i></a></li>
        <li><a href="#" class="btn btn-default btn-lg"><i class="fa fa-facebook"> <span class="network-name">Facebook</span></i></a></li>
        <li><a href="#" class="btn btn-default btn-lg"><i class="fa fa-youtube-play"> <span class="network-name">Youtube</span></i></a></li>
    </ul>
</div>