<head>
    <link rel="stylesheet" href="~/css/global.css" />
</head>

<div class="oleo-font" style="margin-bottom: 30px;"> News</div>

<main role="main" class="container">
    <div class="row">
        <div class="col-md-8  blog-main">
            <div class="col-8">
                <img class="image-fit" src="https://robbreport.com/wp-content/uploads/2020/07/6-3.jpg?w=1000" />
            </div>


            <div class="blog-post">
                <h2 class="blog-post-title">Sample blog post</h2>
                <p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>
                <div class="article-font">
                    <hr>
                    <p>Cum sociis natoque penatibus et magnis <a href="#">dis parturient montes</a>, nascetur ridiculus mus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Sed posuere consectetur est at lobortis. Cras mattis consectetur purus sit amet fermentum.</p>
                    <blockquote>
                        <p>Curabitur blandit tempus porttitor. <strong>Nullam quis risus eget urna mollis</strong> ornare vel eu leo. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                    </blockquote>
                    <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
                </div>
            </div>
        </div>
    </div>
</main>

<div>
    <input type="submit" value="Back to News" class="btn details-btn" />
</div>