@{
    ViewData["Title"] = "Index";
}


<div class="row">
    <div class="col-sm-12 offset-lg-1 col-lg-10 offset-xl-2 col-xl-8">
        <h1 class="text-center" style="color:goldenrod">Welcome!</h1>
        <h3 class="text-center" style="color:goldenrod">Enjoy the best logistics platform in Europe!</h3>
    </div>
</div>