.freights-bold-right {
    text-align: right;
    font-weight: bold;
}

.edit-btn {
    color: white;
    font-weight: bold;
    width: 120px;
    background-color: gold;
}

    .edit-btn:hover {
        color: dodgerblue;
        background-color: goldenrod;
    }

.delete-btn {
    color: white;
    font-weight: bold;
    width: 120px;
    background-color: red;
}

    .delete-btn:hover {
        color: dodgerblue;
        background-color: goldenrod;
    }

.freights-head {
    font-family: 'Agency FB';
    font-size: 20px;
}

.google-directions {
    font-family: 'Agency FB';
    font-size: 20px;
    color: goldenrod;
    text-decoration: underline;
}

.oleo-font {
    text-align: center;
    font-family: 'Oleo Script', cursive;
    color: #fcc500;
    font-size: 45px;
}

.oleo-font-sub {
    text-align: center;
    font-family: 'Oleo Script', cursive;
    color: #fcc500;
    font-size: 25px;
    text-decoration: underline
}

.image-fit {
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-bottom: 20px;
}

.socials-font {
    text-align: center;
    font-family: 'Agency FB';
    color: dodgerblue;
    font-size: 35px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
}

.label-form {
    text-align: center;
    margin-bottom: 5px;
    color: lightpink;
    font-family: 'Agency FB';
    font-size: 24px;
}

.contacts-btn {
    color: goldenrod;
    font-weight: bold;
    width: 120px;
    background-color: lightpink;
}

    .contacts-btn:hover {
        color: dodgerblue;
        background-color: goldenrod;
    }

.details-btn {
    color: goldenrod;
    font-weight: bold;
    width: 130px;
    border-color: lightpink;
}

    .details-btn:hover {
        color: dodgerblue;
        background-color: goldenrod;
    }

.delete-article-btn {
    color: red;
    font-weight: bold;
    width: 160px;
    border-color: red;
}

    .delete-article-btn:hover {
        color: dodgerblue;
        background-color: goldenrod;
    }

/*.delete-article-btn {
    color: red;
    font-weight: bold;
    width: 160px;
    border-color: red;
}

    .delete-article-btn:hover {
        color: dodgerblue;
        background-color: goldenrod;
    }*/