@model CompanyDetailsServiceModel

@{ ViewBag.Title = "Company Details"; }

<head>
    <link rel="stylesheet" href="~/css/global.css" />
    <link rel="stylesheet" href="~/css/messages.css" />
</head>

<div class="oleo-font" style="margin-bottom: 15px;"> Company #@Model.Id</div>

<div class="row">
    <div class="col-md-12">
        <partial name="_CompanyDetailsPartial" model="@Model" />
    </div>
</div>