@{
    ViewBag.Title = " Freight exhange all   ";
}

<h1>All Freights</h1>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">From</th>
            <th scope="col">To</th>
            <th scope="col">Person</th>
            <th scope="col">Company</th>
            <th scope="col">Date</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td scope="col">Id</td>
            <td scope="col">From</td>
            <td scope="col">To</td>
            <td scope="col">Person</td>
            <td scope="col">Company</td>
            <td scope="col">Date</td>
            <td scope="col"></td>
        </tr>
        <tr>
            <td scope="col">Id</td>
            <td scope="col">From</td>
            <td scope="col">To</td>
            <td scope="col">Person</td>
            <td scope="col">Company</td>
            <td scope="col">Date</td>
            <td scope="col"></td>
        </tr>
        <tr>
            <td scope="col">Id</td>
            <td scope="col">From</td>
            <td scope="col">To</td>
            <td scope="col">Person</td>
            <td scope="col">Company</td>
            <td scope="col">Date</td>
            <td scope="col"></td>
        </tr>
    </tbody>
</table>
