@model AllFreightsQueryModel

@{ ViewBag.Title = " Freight exhange all   "; }

<head>
    <link rel="stylesheet" href="~/css/global.css" />
</head>

<style>
    .table-hover tbody tr:hover td {
        background-color: lightpink;
    }
</style>

<div class="oleo-font" style="margin-bottom: 15px;"> All Freights ( @Model.TotalFreights )</div>

<table class="table table-sm table-striped table-hover">
    <thead class="bg-primary text-warning freights-head">
        <tr>
            <th class="col-md-5 ">Loading and unloading Destinations:</th>
            <th class="col-md-5 text-right">User <span style="font-family: Arial; font-size:18px">@@ </span> Company:</th>
            <th class="col-md-2 text-right">Published on:</th>
            <th class="col-md-1 text-right">Loading on:</th>
        </tr>
    </thead>
    <tbody>
        @if (!Model.Freights.Any())
        {
        <tr>
            <td>
                <div class="oleo-font" style="margin-bottom: 30px;">There are no News found</div>
            </td>
        </tr>
        }
        <partial name="_FreightPartial" model="@Model.Freights" />
    </tbody>
</table>